@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scale {
  from {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  to {
    scale: 1;
  }
}

.scale {
  animation: scale 2.5s ease-in-out infinite;
}