@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scalePulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.scale {
  animation: scalePulse 2.5s ease-in-out infinite;
}
